In [2]:
import pandas as pd
import numpy as np
from pathlib import Path
import zipfile


#importing the california data
PARENT = "Predicting_House_Prices"
path = Path(PARENT).parent / "../Data/cleaned_data.csv"
data = pd.read_csv(path)
data.head()

,Unnamed: 0,stateId,countyId,cityId,is_bankOwned,is_forAuction,event,price,livingArea,lotAreaUnits,...,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
0,1,9,189,36958,0,0,Listed for sale,675000.0,1671.0,sqft,...,1,2.0,1,One Story,0,0,0,0,SINGLE_FAMILY,Contra Costa County
1,2,9,190,36958,0,0,Listed for sale,649000.0,1414.0,Acres,...,1,2.0,1,One Story,0,0,0,0,SINGLE_FAMILY,Contra Costa County
2,3,9,191,36958,0,0,Listed for sale,599000.0,1336.0,sqft,...,1,1.0,1,Two Story,0,1,0,0,SINGLE_FAMILY,Contra Costa County
3,5,9,193,36958,0,0,Listed for sale,575000.0,1413.0,sqft,...,1,2.0,1,One Story,0,0,0,0,SINGLE_FAMILY,Contra Costa County
4,6,9,194,36958,0,0,Listed for sale,888000.0,2278.0,sqft,...,1,2.0,1,Two Story,0,0,0,0,SINGLE_FAMILY,Contra Costa County

In [4]:
#extracting the prices (our ys)
y_values = data["price"]
y_values

0        675000.0
1        649000.0
2        599000.0
3        575000.0
4        888000.0
           ...
33738    100000.0
33739    254900.0
33740    350000.0
33741    379000.0
33742    337900.0
Name: price, Length: 33743, dtype: float64

In [8]:
#removing the Unamed:0 column and the price
data2 = data.drop(columns=
    [
        "Unnamed: 0",
        "price",
        "county"

    ]
)

data2.sample(15)

,stateId,countyId,cityId,is_bankOwned,is_forAuction,event,livingArea,lotAreaUnits,bathrooms,bedrooms,buildingArea,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType
8672,9,172304,20288,0,0,Price change,2500.0,sqft,5.0,4.0,0.0,1,0.0,0,0,0,0,0,0,SINGLE_FAMILY
30838,16,319306,32777,0,0,Listed for sale,1823.0,Acres,3.0,3.0,1823.0,1,0.0,1,Two,0,0,0,0,SINGLE_FAMILY
30133,16,279903,4782,0,0,Listed for sale,7150.0,Acres,8.0,8.0,0.0,1,0.0,1,2 Story or More,1,0,0,0,SINGLE_FAMILY
24356,9,115330,19379,0,0,Listed for sale,1910.0,sqft,2.0,3.0,1910.0,1,2.0,1,Two,0,0,0,0,SINGLE_FAMILY
3862,9,74038,47019,0,0,Listing removed,2750.0,Acres,3.0,3.0,0.0,1,2.0,1,Two,0,0,0,0,CONDO
13463,9,268508,396550,0,0,Price change,5028.0,sqft,0.0,0.0,5028.0,1,6.0,1,0,0,0,0,0,MULTI_FAMILY
7239,9,140567,44406,0,0,Listed for sale,1316.0,sqft,2.0,3.0,0.0,1,2.0,1,One,0,0,0,0,SINGLE_FAMILY
23635,9,102612,32540,0,0,Listed for sale,2515.0,Acres,3.0,4.0,2515.0,1,3.0,1,Two Story,1,0,0,0,SINGLE_FAMILY
18705,9,28418,20288,0,0,Listed for sale,1984.0,sqft,2.0,4.0,0.0,1,0.0,0,0,0,0,0,0,SINGLE_FAMILY
20348,9,52121,20288,0,0,Price change,2224.0,sqft,3.0,3.0,0.0,1,0.0,0,0,1,1,0,0,CONDO
2248,9,42919,20328,0,0,Listed for sale,1112.0,sqft,1.0,3.0,0.0,1,2.0,1,One,0,0,0,0,SINGLE_FAMILY
14563,9,289082,13072,0,0,Listed for sale,1905.0,sqft,2.0,5.0,1905.0,1,0.0,0,0,0,0,0,0,MULTI_FAMILY
4273,9,79561,53655,0,0,Listed for sale,1984.0,sqft,3.0,4.0,0.0,1,3.0,1,Two,0,0,0,0,SINGLE_FAMILY
31242,16,6551,32626,0,0,Listed for sale,1593.0,Acres,2.0,2.0,1593.0,1,2.0,1,One,0,0,0,0,SINGLE_FAMILY
31869,16,28919,27768,0,0,Price change,1066.0,sqft,2.0,3.0,0.0,1,0.0,0,One,1,0,0,0,SINGLE_FAMILY

In [9]:
#standardizing the numeric variables

#variables to be standardized: livingArea, bathrooms, bedrooms, buildingArea, garageSpaces
#variables to be ohe: stateId , countyId, cityId, event, levels, homeType
#variables that are binary but are currently ints: is_bankOwned, is_forAuction, parking, hasGarage, pool, spa, isNewConstruction, isNewConstruction

data2.dtypes

stateId                int64
countyId               int64
cityId                 int64
is_bankOwned           int64
is_forAuction          int64
event                 object
livingArea           float64
lotAreaUnits          object
bathrooms            float64
bedrooms             float64
buildingArea         float64
parking                int64
garageSpaces         float64
hasGarage              int64
levels                object
pool                   int64
spa                    int64
isNewConstruction      int64
hasPetsAllowed         int64
homeType              object
dtype: object